* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@keyframes loadAnimation {
  100% {
    width: 5px;
  }
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(5, 10, 31, 1);
  background-position: center;
}

.navbar {
  width: 100%;
  color: rgb(250, 253, 255);
  z-index: 100;
}

.navbar2 {
  position: relative;
  width: 100%;
  color: rgb(250, 253, 255);
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.navbar2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  order: 2;
  display: flex;
}

.logo {
  order: 1;
  font-size: 22px;
  margin-left: 30px;
}

.menu-items li {
  list-style: none;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 19px;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a :active {
  color: orangered;
  background-color: rgb(81, 183, 241);
  border-radius: 10px;
}

.navbar a:hover {
  color: orangered;
}

section {
  padding: 45px 145px;
  padding-top: 80px;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutMe-txt {
  max-width: 600px;
}

.aboutMe h1 {
  font-size: 60px;
  font-family: sans-serif;
  line-height: 70px;
  margin: auto;
  height: 57px;
  margin-left: 5px;
  color: blanchedalmond;
}

.aboutMe h3 {
  font-size: 20px;
  font-family: sans-serif;
  margin: auto;
  margin-left: 6px;
  color: blanchedalmond;
}

.aboutMe h2 {
  font-size: 15px;
  font-family: sans-serif;
  margin: auto;
  color: rgba(140, 102, 102, 1);
  margin-left: 32px;
  margin-top: 2px;
}

.aboutMe h4 {
  font-size: 20px;
  font-family: sans-serif;
  margin: auto;
  color: rgba(61, 189, 229, 1);
  margin-bottom: 25px;
  margin-left: 30px;
  /*  transition: .5s;
    animation: loadAnimation 1s ease forwards;
    animation-delay: 1s;*/
}

.aboutMe p {
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 5px;
  color: blanchedalmond;
}

.aboutMe-img {
  display: flex;
  justify-content: flex-end;
  width: 550px;
  height: 400px;
}

.btn-aboutMe {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 28px;
  margin-top: 40px;
}

.btn-aboutMe a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid;
  border-color: rgba(61, 189, 229, 1);
  background-color: rgb(5, 74, 95);
  padding: 11px 15px 11px 15px;
  border-radius: 36px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn-aboutMe a:hover {
  background-color: rgba(8, 35, 87, 1);
  border: 2px solid rgba(8, 35, 87, 1);
  color: rgb(186, 225, 228);
}

/*responsive style   این اشتباه باید روش کار کنم */
@media screen and (max-width: 1000px) {
  aboutMe {
    flex-direction: column-reverse;
    overflow: unset;
    padding: 100px 0px;
  }

  navbar {
    padding: 25px 40px;
  }

  .aboutMe-txt {
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .aboutMe-img {
    justify-items: center;
    text-align: center;
    margin-top: 20px;
  }
}

/*part2*/

.aboutme2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(5, 10, 31, 1);
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 10px;
}

.aboutme2-text {
  max-width: 60rem;
}

.aboutme2-text h1 {
  font-size: 15px;
  color: rgba(140, 102, 102, 1);
  font-family: sans-serif;
  margin: auto;
  margin-top: -22px;
  margin-right: 98px;
}

.aboutme2-text h2 {
  font-size: 20px;
  font-family: sans-serif;
  margin: auto;
  color: blanchedalmond;
  margin-top: -5px;
  margin-left: 50px;
}

.aboutme2-text h4 {
  font-size: 25px;
  font-family: sans-serif;
  margin: auto;
  color: rgba(61, 189, 229, 1);
  margin-top: 3px;
}

.aboutme2-text p {
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 53px;
  margin-top: 39px;
  color: white;
}

.heading {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(61, 189, 229, 1);
}

.aboutme2-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme2-img img {
  width: 150px;
  height: 235px;
  border-radius: 50px;
  border: 2px solid;
  margin-top: -37px;
  border-color: rgba(61, 189, 229, 1);
}

.btn-aboutMe2 a {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid;
  border-color: rgba(61, 189, 229, 1);
  background-color: rgb(5, 74, 95);
  padding: 11px 15px 11px 15px;
  border-radius: 36px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn-aboutMe2 a:hover {
  background-color: rgba(8, 35, 87, 1);
  border: 2px solid rgba(8, 35, 87, 1);
  color: rgb(186, 225, 228);
}

/*part3*/
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  color: antiquewhite;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1;
}

.education-column .title {
  font-size: 28px;
  margin: 40px 0px 40px 35px;
}

.education-column .education-box {
  border-left: 3px solid;
  color: rgba(61, 189, 229, 1);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}
.heading-education {
  font-size: 50px;
  margin-bottom: 5px;
  text-align: center;
  color: rgba(61, 189, 229, 1);
}
.education-box .content {
  position: relative;
  padding: 13px;
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 33px;
  margin-top: -20px;
  border-color: rgba(61, 189, 229, 1);
}
.education-content .content .year {
  font-size: 17px;
  color: antiquewhite;
  padding-bottom: 0px;
}
.education-content .content h3 {
  font-size: 15px;
  margin-top: 5px;
  color: antiquewhite;
}

.education-content .content p {
  font-size: 15px;
  margin-top: -5px;
  margin-bottom: 0px;
  color: antiquewhite;
}
.skills {
  min-height: auto;
  padding-bottom: 7rem;
}
.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills-row .skills-column {
  flex: 1;
}
.skills-column .title {
  font-size: 28px;
  margin: 40px 0px 40px 35px;
  color: antiquewhite;
}

.skills-box .skills-contact {
  position: relative;
  padding: 13px;
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 33px;
  margin-top: -20px;
  border-color: rgba(61, 189, 229, 1);
}
.skills-contact .progress {
  padding: 20px 0;
}
.skills-contact .progress h3 {
  font-size: 20px;
  margin-top: -18px;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
}
.skills-contact .progress h3 span {
  color: antiquewhite;
}
