* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  scroll-behavior: smooth; /*این تکه کد رو از یه جای یاد گرفتم خیلی برام جذاب بود*/
}
@keyframes loadAnimation {
  100% {
    width: 5px;
  }
}

body {
  /* width: 100%;
  height: 100vh;*/
  background-color: rgba(5, 10, 31, 1);
  background-position: center;
}

.header {
  /* position: relative;*/
  width: 100%;
  color: rgb(250, 253, 255);
  background-color: rgb(10, 24, 82);
  /*top: 0;
  left: 0;*/
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.menu-items {
  order: 2;
  display: flex;
  margin-right: 155px;
}

.logo {
  order: 1;
  font-size: 22px;
  margin-left: 70px;
}

.menu-items li {
  list-style: none;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 19px;
}

.header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.header a :active {
  color: orangered;
  background-color: rgb(81, 183, 241);
  border-radius: 10px;
}

.header a:hover {
  color: orangered;
}

section {
  padding: 45px 300px;
  padding-top: 230px;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 2rem 0;
}

.aboutMe-txt {
  max-width: 700px;
}

.aboutMe h1 {
  font-size: 60px;
  font-family: sans-serif;
  line-height: 70px;
  margin: auto;
  height: 57px;
  margin-left: 5px;
  color: blanchedalmond;
}

.aboutMe h3 {
  font-size: 20px;
  font-family: sans-serif;
  margin: auto;
  margin-left: 6px;
  color: blanchedalmond;
}

.aboutMe h2 {
  font-size: 15px;
  font-family: sans-serif;
  margin: auto;
  color: rgba(140, 102, 102, 1);
  margin-left: 32px;
  margin-top: 2px;
}

.aboutMe h4 {
  font-size: 20px;
  font-family: sans-serif;
  margin: auto;
  color: rgba(61, 189, 229, 1);
  margin-bottom: 25px;
  margin-left: 30px;
  /*  transition: .5s;
    animation: loadAnimation 1s ease forwards;
    animation-delay: 1s;*/
}

.aboutMe p {
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 5px;
  color: blanchedalmond;
}

.aboutMe-img {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin: 10px 0px 0px 10px;
}

.btn-aboutMe {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 28px;
  margin-top: 40px;
}

.btn-aboutMe a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid;
  border-color: rgba(61, 189, 229, 1);
  background-color: rgb(5, 74, 95);
  padding: 11px 15px 11px 15px;
  border-radius: 36px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn-aboutMe a:hover {
  background-color: rgba(8, 35, 87, 1);
  border: 2px solid rgba(8, 35, 87, 1);
  color: rgb(186, 225, 228);
}

/*part2*/

.aboutme2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem; /*فاصله بین ستون یا باکس ها رو تعیین می کند*/
  background-color: rgba(5, 10, 31, 1);
  padding-bottom: 2rem;
  text-align: center;
  margin-top: -146px;
}

.aboutme2-text {
  max-width: 60rem;
}

.aboutme2-text h1 {
  font-size: 15px;
  color: rgba(140, 102, 102, 1);
  font-family: sans-serif;
  margin: auto;
  margin-top: -22px;
  margin-right: 98px;
}

.aboutme2-text h2 {
  font-size: 20px;
  font-family: sans-serif;
  margin: auto;
  color: blanchedalmond;
  margin-top: -5px;
  margin-left: 50px;
}

.aboutme2-text h4 {
  font-size: 25px;
  font-family: sans-serif;
  margin: auto;
  color: rgba(61, 189, 229, 1);
  margin-top: 3px;
}

.aboutme2-text p {
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 53px;
  margin-top: 39px;
  color: blanchedalmond;
}

.heading {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(61, 189, 229, 1);
}

.aboutme2-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme2-img img {
  width: 150px;
  height: 235px;
  border-radius: 50px;
  border: 2px solid;
  margin-top: -37px;
  border-color: rgba(61, 189, 229, 1);
}

.btn-aboutMe2 a {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid;
  border-color: rgba(61, 189, 229, 1);
  background-color: rgb(5, 74, 95);
  padding: 11px 15px 11px 15px;
  border-radius: 36px;
  letter-spacing: 1px;
  transition: 0.3s;
  margin-top: 40px;
}

.btn-aboutMe2 a:hover {
  background-color: rgba(8, 35, 87, 1);
  border: 2px solid rgba(8, 35, 87, 1);
  color: rgb(186, 225, 228);
}

/*part3*/
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* با این کد می توان تعییت کرد که عناصر (حالا منظور عناصر شامل همه چیز که در سایت هست )در یک فلیکس باکس به چه صورتی باشد افقی یا عمودی */
  min-height: auto;
  color: rgb(85, 181, 211);
}

.education .education-row {
  display: flex;
  flex-wrap: wrap; /* برای چیدمان بین عناصر استفاده میشه و به تنهای هم کاربرد نداردو با فلیکسبل میاد*/
  gap: 5rem;
  padding: 0 15px;
  padding: 1px 49px 47px 54px;
  margin: 14px 285px 1px 231px;
}

.education-row .education-column {
  flex: 1;
}

.education-column .title {
  font-size: 28px;
  margin: 40px 0px 40px 60px;
}

.education-column .education-box {
  border-left: 3px solid;
  color: rgb(85, 181, 211);
  margin-left: 20px;
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}
.education-box .education-content::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -12px;
  width: 20px;
  height: 20px;
  background-color: rgb(85, 181, 211);
  border-radius: 15px;
}

.heading-education {
  font-size: 50px;
  margin-bottom: 48px;
  text-align: center;
  color: rgba(61, 189, 229, 1);
}
.education-box .content {
  position: relative;
  padding: 13px;
  border: 4px solid;
  border-radius: 10px;
  margin-bottom: 33px;
  margin-top: -20px;
  margin-right: -30px;
  border-color: rgb(5, 74, 95);
}
.education-content .content .year {
  font-size: 17px;
  color: antiquewhite;
  padding-bottom: 0px;
}
.education-content .content h3 {
  font-size: 15px;
  margin-top: 1px;
  margin-bottom: 18px;
  color: antiquewhite;
}

.education-content .content p {
  font-size: 15px;
  margin-top: -5px;
  margin-bottom: 0px;
  color: antiquewhite;
}

/*part4*/
.skills {
  min-height: auto;
  padding-bottom: 7rem;
}
.heading-skills {
  font-size: 50px;
  margin-bottom: 40px;
  text-align: center;
  color: rgba(61, 189, 229, 1);
}
.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}
.skills-row .skills-column {
  flex: 1;
}
.skills-column .title {
  font-size: 28px;
  margin: 40px 0px 40px 4px;
  color: rgb(56, 156, 187);
}

.skills-box .skills-contact {
  position: relative;
  padding: 13px;
  border: 3px solid;
  border-radius: 10px;
  margin-bottom: 33px;
  margin-top: -20px;
  border-color: rgb(5, 74, 95);
}
.skills-contact .progress {
  padding: 20px 0;
}
.skills-contact .progress h3 {
  font-size: 20px;
  margin-top: -18px;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
}
.skills-contact .progress .nav-bar {
  height: 20px;
  width: 458px;
  border-radius: 10px;
  border: 3px solid;
  border-color: rgb(5, 74, 95);
  padding: 15px;
  margin: 4px 0;
}
.skills-contact .progress .nav-bar .navbar1 {
  display: block;
  height: 24px;
  width: 370px;
  border-radius: 9px;
  border: 2px solid;
  border-color: rgb(61, 185, 223);
  background-color: rgb(61, 185, 223);
  margin: -12px 0px 0px -13px;
}
.skills-contact .progress .nav-bar .navbar2 {
  display: block;
  height: 24px;
  width: 370px;
  border-radius: 9px;
  border: 2px solid;
  border-color: rgb(61, 185, 223);
  background-color: rgb(61, 185, 223);
  margin: -12px 0px 0px -13px;
}
.skills-contact .progress .nav-bar .navbar3 {
  display: block;
  height: 24px;
  width: 30px;
  border-radius: 9px;
  border: 2px solid;
  border-color: rgb(61, 185, 223);
  background-color: rgb(61, 185, 223);
  margin: -12px 0px 0px -13px;
}
.skills-contact .progress .nav-bar .navbar4 {
  display: block;
  height: 24px;
  width: 415px;
  border-radius: 9px;
  border: 2px solid;
  border-color: rgb(61, 185, 223);
  background-color: rgb(61, 185, 223);
  margin: -12px 0px 0px -13px;
}
.skills-contact .progress .nav-bar .navbar5 {
  display: block;
  height: 24px;
  width: 300px;
  border-radius: 9px;
  border: 2px solid;
  border-color: rgb(61, 185, 223);
  background-color: rgb(61, 185, 223);
  margin: -12px 0px 0px -13px;
}
.skills-contact .progress .nav-bar .navbar6 {
  display: block;
  height: 24px;
  width: 450px;
  border-radius: 9px;
  border: 2px solid;
  border-color: rgb(61, 185, 223);
  background-color: rgb(61, 185, 223);
  margin: -12px 0px 0px -13px;
}
.skills-contact .progress .nav-bar .navbar7 {
  display: block;
  height: 24px;
  width: 300px;
  border-radius: 9px;
  border: 2px solid;
  border-color: rgb(61, 185, 223);
  background-color: rgb(61, 185, 223);
  margin: -12px 0px 0px -13px;
}
.skills-contact .progress .nav-bar .navbar8 {
  display: block;
  height: 24px;
  width: 100px;
  border-radius: 9px;
  border: 2px solid;
  border-color: rgb(61, 185, 223);
  background-color: rgb(61, 185, 223);
  margin: -12px 0px 0px -13px;
}
/*part5 contact*/
.contact {
  min-height: auto;
  padding-bottom: 40px;
}
.contact form {
  max-width: 900px;
  text-align: center;
}
.contact form .input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 25rem;
}
.contact form .input-box .input-field {
  position: relative;
  width: 50px;
  margin: 15px 5px;
}

.contact form .input-box .input-field input {
  width: 427px;
  height: 70px;
  padding: 34px;
  font-size: 20px;
  color: white;

  background: transparent;
  border-radius: 10px;
  border: 3px solid;
  border-color: rgb(5, 74, 95);
}
.contact form .textarea-field textarea {
  width: 885px;
  height: 240px;
  padding: 34px;
  font-size: 20px;
  color: white;

  background: transparent;
  border-radius: 10px;
  border: 3px solid;
  border-color: rgb(5, 74, 95);
}

.btn-contact a {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid;
  border-color: rgba(61, 189, 229, 1);
  background-color: rgb(5, 74, 95);
  padding: 17px 20px 13px 15px;
  margin: 31px 1px -1px 20px;
  border-radius: 36px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn-contact a:hover {
  background-color: rgba(8, 35, 87, 1);
  border: 2px solid rgba(8, 35, 87, 1);
  color: rgb(186, 225, 228);
}

/*part footer*/
.footer-icontop a {
  width: 50px;
  height: 47px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid;
  border-color: rgba(61, 189, 229, 1);
  background-color: rgb(5, 74, 95);
  padding: 9px;
  margin: 31px 1px -1px 1815px;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: 0.3s;
}
.footer-icontop a i {
  font-size: 25px;
  color: black;
}

.footer-icontop a:hover {
  background-color: rgba(61, 189, 229, 1);
  border: 2px solid rgba(61, 189, 229, 1);
  color: rgb(186, 225, 228);
}

/*.sections {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding: 2rem 0;
}*/

/*respansive*/
@media screen and (min-width: 425px) {
  body {
    width: 100%;
    height: 100vh;
  }

  .sections {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding: 4rem 2rem 2rem 2rem;
  }
  .header {
    position: relative;
    width: 1785px;
    color: rgb(250, 253, 255);
    z-index: 100;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 1781px;
  }

  .menu-items {
    order: 2;
    display: flex;
  }

  .header a :active {
    color: orangered;
    background-color: rgb(81, 183, 241);
    border-radius: 10px;
  }

  .header a:hover {
    color: orangered;
  }

  .aboutMe {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    margin: 178px -560px 0px 268px;
  }
  .aboutMe h1 {
    font-size: 60px;
    font-family: sans-serif;
    line-height: 70px;
    margin-top: 10px;
    height: 57px;
    margin-left: 5px;
    color: blanchedalmond;
  }
  .aboutMe h2 {
    font-size: 15px;
    font-family: sans-serif;
    color: rgba(140, 102, 102, 1);
    margin-left: 32px;
    margin-top: 10px;
  }
  .aboutMe h3 {
    font-size: 10px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 6px;
    color: blanchedalmond;
  }
  .aboutMe p {
    font-size: 18px;
    font-family: sans-serif;
    color: blanchedalmond;
  }

  .btn-aboutMe a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid;
    border-color: rgba(61, 189, 229, 1);
    background-color: rgb(5, 74, 95);
    padding: 10px 23px 12px 23px;
    margin: 2px 1px -1px 250px;
    border-radius: 36px;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  .btn-aboutMe a:hover {
    background-color: rgba(8, 35, 87, 1);
    border: 2px solid rgba(8, 35, 87, 1);
    color: rgb(186, 225, 228);
  }
  .aboutMe-img {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin: 10px 0px 0px 10px;
  }
  /*part2*/
  .aboutme2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 491px -557px 0px 182px;
  }
  .aboutme2-text {
    max-width: 60rem;
  }

  .aboutme2-text h1 {
    font-size: 15px;
    color: rgba(140, 102, 102, 1);
    font-family: sans-serif;
    margin: auto;
    margin-top: -22px;
    margin-right: 98px;
  }

  .aboutme2-text h2 {
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    color: blanchedalmond;
    margin-top: -5px;
    margin-left: 50px;
  }

  .aboutme2-text h4 {
    font-size: 25px;
    font-family: sans-serif;
    margin: auto;
    color: rgba(61, 189, 229, 1);
    margin-top: 3px;
  }

  .aboutme2-text p {
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 53px;
    margin-top: 39px;
    color: blanchedalmond;
  }

  .heading {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: rgba(61, 189, 229, 1);
  }

  .aboutme2-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutme2-img img {
    width: 150px;
    height: 235px;
    border-radius: 50px;
    border: 2px solid;
    margin-top: -37px;
    border-color: rgba(61, 189, 229, 1);
  }

  .btn-aboutMe2 a {
    display: inline-block;
    width: 200px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid;
    border-color: rgba(61, 189, 229, 1);
    background-color: rgb(5, 74, 95);
    padding: 11px 15px 11px 15px;
    border-radius: 36px;
    letter-spacing: 1px;
    transition: 0.3s;
    margin-top: 40px;
  }

  .btn-aboutMe2 a:hover {
    background-color: rgba(8, 35, 87, 1);
    border: 2px solid rgba(8, 35, 87, 1);
    color: rgb(186, 225, 228);
  }

  /*part3*/
  .education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(85, 181, 211);
    margin: 409px -740px 1px 13px;
  }

  .education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 0 15px;
    padding: 0px -40px 47px 55px;
    margin: 2px 251px 1px 174px;
  }

  .education-column .title {
    font-size: 28px;
    margin: 40px 0px 40px 60px;
  }

  /*part4*/
  .skills {
    min-height: auto;
    padding-bottom: 7rem;
    margin: 350px -706px 1px 85px;
  }
  .heading-skills {
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
    color: rgba(61, 189, 229, 1);
  }
  .skills-column .title {
    font-size: 28px;
    margin: 40px 0px 40px 4px;
    color: rgb(56, 156, 187);
  }

  /*part5 contact*/
  .contact {
    min-height: auto;
    margin: 248px -720px 2px 0px;
  }

  /*part footer*/
  .footer-icontop a {
    width: 50px;
    height: 47px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid;
    border-color: rgba(61, 189, 229, 1);
    background-color: rgb(5, 74, 95);
    padding: 9px;
    margin: 31px 1px -1px 1640px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
  }
}

/*@media (min-width: 576px) { 

 }*/
