* {
    font-family: sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #acb0b4;
}

img {
    width: 150%;
    margin-top: 25px;
    margin-left: 15%;

}

a {
    text-decoration: none;
}

.header {
    margin: 60px 3px 21px 170px;
    display: grid;
    background: rgba(8, 35, 87, 1);
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    border-radius: 50px;
    width: 280mm;
    height: 80mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(1, 238, 255, 1);


}

.part1 {
    grid-column: 1/11;
    margin-bottom: 2rem;

}

.part1-header {
    display: flex;
    gap: 2rem;
}

.part1-pic {
    max-width: 250px;
    margin-left: 50px;
    margin-top: 15px;
}

.part1-txt {
    max-width: 720px;
    color: white;
    margin-left: 150px;
    margin-top: 20px;
}

.border {
    border-left: 6px solid;
    color: black;
    margin-right: 15px;
    line-height: 28px;

}



.part1-txt h1 {
    font-size: 60px;
    font-family: sans-serif;
    line-height: 70px;
    margin: auto;
    height: 57px;
    margin-left: 60px;
    margin-top: 15px;
    color: rgba(161, 223, 242, 1);
}

.part1-txt h2 {
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    color: rgba(140, 102, 102, 1);
    margin-left: 113px;
    margin-top: -1px;
}

.part1-txt h4 {
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    color: rgba(161, 223, 242, 1);
    margin-bottom: 17px;
    margin-left: 114px;
    margin-top: -7px;
}

.part1-txt p {
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 60px;
}

.part2 {
    margin: 10px 3px -55px 176px;
    display: grid;
    grid-template-columns: 1fr;
    width: 390px;
    height: 1150px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(1, 238, 255, 1);
    border-radius: 50px;
    box-shadow: red;


}

.part2 .left {
    background-color: rgba(8, 35, 87, 1);
    color: rgba(161, 223, 242, 1);
    padding: 40px 20px;
    padding-left: 35px;

}

.part2 .left .part2-skills {
    margin-top: 10px;


}

.part2 .left .part2-skills h2 {
    margin-left: 13px;
    font-size: 33px;
    font-family: sans-serif;
}


.part2 .left .part2-skills p {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 23px;
    font-family: sans-serif;

}

.part2 .left .part2-languges h2 {
    font-size: 33px;
    font-family: sans-serif;
    margin-top: 25px;
    margin-left: 13px;
    padding-bottom: 10px;
    padding: 25px 0px;
    border-top: 4px solid black;
    width: 300px;
    padding-bottom: 10px;


}

.part2 .left .part2-skills .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgba(61, 189, 229, 1);
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 15px;
}

.part2 .left .part2-skills .dot.active {
    background-color: rgba(5, 10, 31, 1);
}

.part2 .left .part2-cantact h2 {
    margin-left: 13px;
    font-size: 33px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.part2 .left.part2-hobbies h2 {
    margin-left: 13px;
    font-size: 33px;
    font-family: sans-serif;
    margin-bottom: 10px;
}